.sidebar_menu {
   position: relative;
   height: 100%;
   width: 200px;
   left: 0;
   background-color: white;

   &.closed {
      left: -100%;
   }

   .sidebar_menu_items {
      position: relative;
      top: 13%;
      font-size: 18px;

      .sidebar_menu_item {
         display: flex;
         justify-content: start;
         align-items: center;
         padding: 0 10px;
         transition: background-color 300ms ease-in;
         height: 55px;
         cursor: pointer;

         p {
            margin-left: 15px;
         }

         &.exit {
            color: red;
            margin-top: 15px;
         }

         &:hover {
            background-color: #E7E9E7;
         }
         
      }

      @media (max-width:426px) {
         top: 20%;
      }
   }
}
