.ingredients_form {
   display: grid;
   grid-template-columns: 2fr 1fr auto;
   align-items: center;
   margin-top: 15px;
   gap: 10px;

   @media(max-width: 426px) {
      display: block;
   }

   .action_block {
      display: grid;
      align-items: center;
      gap: 10px;
      grid-template-columns: 1fr 20px;
      @media(max-width: 426px) {
         margin-top: 10px;
      }
   }
}