.menu_button_wrapper {
   position: relative;
   .menu_button{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 15px;
   
      div {
         font-size: 14px;
         cursor: pointer;
      }
      
      img {
         transition: all ease-in 200ms;
      }
      
      &:hover img {
         transform: scale(1.1);
      }
   }
}
