.create__button {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   a {
      border: none;
      background-color: inherit;
      cursor: pointer;
      color: #000;
      text-decoration: none;
      font-size: 14px;
   }
   
   svg {
      transition: all ease-in 200ms;
   }
   
   &:hover svg {
      transform: scale(1.1);
   }
}