@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background: url("~/public/mainbg.png") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 100vh;
}

:root {
  --primary-green: '#8FB98F';
  --primary-grey: '#E7E9E7';
}